<div class="row" style="margin-top: 20%; background-color: #eef4f7;">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4"><i class="fa fa-warning" style="font-size: 100px;align-items: center;margin-left: 40%;color: rgb(102,215,215);"></i></div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="text-center">Oops! This page is under maintenance...</h1>
            <p class="text-center">Please try again later! - Osprey Team working hard to get this resolved</p>
        </div>
    </div>
