<div class="container text-center" style="margin-top: 20%;">
  <i class="fa fa-warning" style="font-size: 150px;align-items: center;color: rgb(102,215,215);"></i>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="text-center">Oops! This page is under maintenance...</h1>
    <p class="text-center">Please try again later! - Osprey Team working hard to get this resolved</p>
  </div>
</div>
