<ul class="nav navbar-nav mr-auto">
    <li class="nav-item">
        <%= link_to "User Page", user_path(current_user), class: "nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to "Accounts", accounts_url, class: "nav-link" %>
    </li>
    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="true" href="#">Transactions</a>
        <div class="dropdown-menu">
            <%= link_to "View Transactions", transactions_url, class: "nav-link" %>
            <%= link_to "Make a Transaction", new_transaction_url, class: "nav-link" %>
        </div>
    </li>
</ul>