<% content_for :title, "Delete Transaction" %>
<div class="modal-body text-center mb-5" style="margin: 2%;">
    <%= form_for [:admin, @transaction], :method => 'delete' do |f| %>
    <i class="far fa-check-circle fa-7x"></i>
    <h1>Are You Sure?</h1>
    <p style="font-size: x-large;">Are you sure you want to permanently delete transaction number: <%= @transaction.id %>?</p>
    <div class="btn-group">
        <%= link_to("Cancel", :back, { class: "btn btn-secondary btn-lg mr-2 rounded-lg" }) %>
        <%= f.submit("Delete Transaction", { class: "btn btn-danger btn-lg rounded-lg" }) %>
    </div>
    <% end %>
</div>