// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.credit-card-box .panel-title {
    font-weight: bold;
    overflow: hidden;
  }
  
  .credit-card-box .panel-title .panel-title-text {
    max-width: 80px;
    float: left;
  }
  
  .credit-card-box .panel-title .panel-title-image {
    max-width: 160px;
    float: right;
  }
  
  .credit-card-box label {
    display: block;
  }
  
  .credit-card-box .panel-body .control-label {
    text-transform: uppercase;
  }
  
  