<div>
    <hr>
    <th>Password</th>
    <%= f.password_field(:password, { class: "border rounded-0 form-control", style: "margin-bottom: 15px;", placeholder: "Password", required: true }) %>
    <th>Password Confirmation</th>
    <td><%= f.password_field(:password_confirmation, { class: "border rounded-0 form-control", style: "margin-bottom: 15px;", placeholder: "Password Confirmation", required: true })%></td>
</div>