<div style="margin: 5% 0%;">
    <div class="col-md-4 col-xl-6 offset-xl-3">
    <h1 style="font-size: xx-large;"><i class="fas fa-user" style="padding-right: 5px;"></i>New User</h1>
        <%= form_for [:admin, @user] do |f| %>
        <%= render :partial =>'form', :locals => {:f => f}  %>
        <%= render :partial =>'edit_password', :locals => {:f => f}  %>
        <%= f.submit "Create", class:"btn btn-lg btn-info", style: "width: 100%;" %>
        <% end %>
    </div>
</div>