<nav aria-label="Page navigation">
  <%if(@max_pages > 1)%>
  <ul class="pagination justify-content-center">
    <%if(@page - 1 >= 0)%>
    <li class:"page-item"><%= link_to "Previous", request.params.merge(:page => @page - 1) , class:"page-link"%></li>
<%else%>
<li class:"disabled page-item "> <a class="page-link">Previous</a></li>
    <% end %>
    <%if(@page - 1 >= 0 && @page + 1 < @max_pages)%>
    <li class:"page-item">&nbsp;&nbsp;|&nbsp;&nbsp;</li>
    <% end %>
    <% (0 .. @max_pages-1).each do |i| %>
     <li class:"page-item"><%= link_to i, request.params.merge(:page => i) , class:"page-link"%></li>
     <%end%>
    <%if(@page + 1 < @max_pages)%>
    <li class:"page-item"><%= link_to "Next", request.params.merge(:page => @page + 1) , class:"page-link"%></li>
    <%else%>
    <li class:"disabled page-item "> <a class="page-link">Next</a></li>
    <% end %>
  </ul>
  <%end%>
</nav>
