<div class="panel-footer">
    <div class="row">
        <div class="col col-xs-4">
            <%= "Page #{@page+1} of #{@max_pages}"%>
        </div>
        <div class="col col-xs-8">
            <ul class="pagination visible-xs pull-right">
                <%if(@page - 1 >= 0)%>
                <li><%= link_to "Previous Page", request.params.merge(:page => @page - 1) %></li>
                <% end %>
                <%if(@page - 1 >= 0 && @page + 1 < @max_pages)%>
                <li>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
                <% end %>
                <%if(@page + 1 < @max_pages)%>
                <li><%= link_to "Next Page", request.params.merge(:page => @page + 1) %></li>
                <% end %>
            </ul>
        </div>
    </div>
</div>