/*
 * SCSS file used for tables that can be sorted to give an up or down error by the title.
 * Source used: Rails casts episode 228, link: http://railscasts.com/episodes/228-sortable-table-columns
*/
.table th .current {
    padding-right: 15px;
    background-repeat: no-repeat;
    background-position: right center;
}

.table th .asc {
    background-image: url(sortable_table/up_arrow.gif);
}

.table th .desc {
    background-image: url(sortable_table/down_arrow.gif);
}