<div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">

                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Home Page</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Osprey Bank</h3>
                        <p>For all your banking needs</p>
                    </div>
                    <div class="col item social"><a href="https://www.facebook.com/lordosprey.osprey.9/"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/BankOsprey"><i class="icon ion-social-twitter"></i></a><a href="https://www.instagram.com/ospreybank/"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Osprey Bank © 2020</p>
            </div>
        </footer>
    </div>