<div class="col col-xs-6">
    <div class="row">
        <%= form_for(input_path, method: :get) do |f|%>
        <%= text_field_tag search, params[search], placeholder: "Search for something..." %>
        <%= f.submit "Search", class:"btn btn-success"%>
        <% end %>
        <%= link_to "Reset", request.env['PATH_INFO'], class:"btn btn-warning", style:"margin-left: 2%"%>
    </div>
</div>