<div class="col-12 col-md-4 offset-md-4" style="padding-right: 0;padding-left: 0;padding-top: 1%; margin: auto">
    <div class="card credit-card-box">
        <div class="card-header">
            <h3><span class="panel-title-text">Make a Transaction</span><%= image_tag "accepted_cards.png", class: "img-fluid panel-title-image" %></h3>
        </div>
        <div class="card-body">
            <%yield%>

        </div>
    </div>
</div>