<h1>Accounts</h1>
<br>
<table class="accounts">
  <tr>
    <th>Account Number</th>
    <th>Sort Code</th>
    <th>Balance</th>
  </tr>

  <% @accounts.each do |account| %>
  <tr>
    <td> <%= account.accountNumber %> </td>
    <td> <%= account.sortCode %> </td>
    <td> <%= account.balance %> </td>
  </tr>
  <% end %>

</table>
